.multicolumn-section {
    margin: 3.5rem 0;
  }
  
  .multicolumn-container {
    display: flex;
  }
  
  .main-content {
    flex: 50%;
    padding-right: 15%;
  }
  
  .main-title {
    font-size: 50px;
    color: var(--color-secondary);
    margin-bottom: 2rem;
  }
  
  .find-out-more {
    color: var(--color-primary);
    cursor: pointer;
  }
  
  .columns-container {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .column {
    flex: 1;
    min-width: 200px;
    min-width: 250px;
  }
  
  .column-title {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
  }
  
  .column-text {
    font-size: 1rem;
    color: var(--color-secondary)
  }

  @media only screen and (max-width:464px) {
    .multicolumn-container {
      flex-direction: column;
      gap: 2rem;
  }
  .main-title{
    font-size: 2rem;
  }
  }