.carousel-section {
    background-color: var(--color-white);
}

.carousel-container {
    padding-top: 1rem;
}

.carousel-content {
    display: flex;
    color: var(--color-secondary);
    max-width: 60vw;
    margin-top: 3rem;
    padding-left: 7rem;
    padding-bottom: 4rem;
}

.carousel-button-group {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 10rem;
    margin-top: 3rem;
}

.carousel-title {
    font-size: 40px;
    flex: 50%;
}

.carousel-text {
    font-size: 18px;
    flex: 50%;
}