* {
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-wrap: balance;
  margin: 0;
}

p {
  margin: 0;
  text-wrap: balance;
  font-weight: 400;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid;
  outline: none;
  box-shadow: none;

  padding: 0.8em;
  margin: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:root {
  --color-primary: #A06056;
  --color-secondary: #706458;
  --color-background: #F3EEE8;
  --color-accent: #d2b48c;
  --color-white: #ffffff;
  --color-grey-dark: #121212;
  --color-grey-dark-50: #1212128a;
  --color-grey-dark-30: #1212123b;

  --spacing-small: 0.8em;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

/* Primary Font Styles */
.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

/* Secondary Font Styles */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.varta-regular {
  font-family: "Varta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.varta-bold {
  font-family: "Varta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.varta-heavy {
  font-family: "Varta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.full-width-section {
  width: 100%;
  padding: 0 7rem;
}

@media only screen and (max-width:768px) {
  .full-width-section {
    width: 100%;
    padding: 0 var(--spacing-small);
  }
}